@import '../../../../bootstrap-variables.scss';

.product-image {
	display: inline-block;
	width: 180px;
	height: 180px;
	border-radius: $border-radius;
	margin-right: $spacing;
	box-sizing: content-box;
}
